<div class="container-fluid px-6 py-4">
    <div class="col-md-2 p-0">
        <app-nav-buttons></app-nav-buttons>
    </div>

    <h1 class="text-3xl font-bold text-center text-blue-900 my-6">
        References
    </h1>

    <p>Some references (wont style until I finalize this list and turn these links into citations): <br> 
    - <a href="https://georgebv.github.io/pyextremes/">https://georgebv.github.io/pyextremes/</a><br>
    - <a href="https://fred.stlouisfed.org/searchresults/?st=monthly%20detroit%20michigan&t=listing&rt=listing&ob=sr">https://fred.stlouisfed.org/searchresults/?st=monthly%20detroit%20michigan&t=listing&rt=listing&ob=sr</a><br>
    - crsp_a_stock from wrds <br>
    - Compustat - Capital IQ -> Data and Ratios from wrds <br> 
    - <a href="https://fred.stlouisfed.org/series/DWLAGRIDX">https://fred.stlouisfed.org/series/DWLAGRIDX</a><br>
    - <a href="https://fred.stlouisfed.org/series/DWLAGRIDX">https://www.sciencedirect.com/science/article/pii/S009411901630016X#tbl0002</a><br>
    



</p>
</div>