<div class="container-fluid px-6 md:px-6 lg:px-6 py-2 md:py-2 lg:py-2">
    <div class="col-md-2 p-0">
        <app-nav-buttons></app-nav-buttons>
    </div>

    <h1 class="text-4xl font-bold text-center text-blue-900 my-6">
        Using Extreme Value Theory to Predict Municipal Decline from Corporate Data
    </h1>
    <h1 class="text-2xl font-bold text-center text-blue-400 my-6">
        Honors Thesis by Megan Coyne
    </h1>

    <h2 class="text-xl font-bold text-left text-blue-900 my-6">
        Project Summary</h2>
    <p class="text-lg text-gray-800 leading-relaxed mb-4">Financial crises can have devastating consequences, not just
        for individual companies,
        but for entire cities. When a city depends heavily on a specific industry, economic downturns in
        that sector can lead to widespread financial distress and, in extreme cases, municipal bankruptcy.
        This project seeks to develop a statistical model using Extreme Value Theory (EVT) to better
        predict when a city’s financial health might be at risk due to struggles within key industries.
        Extreme Value Theory is an area within statistics designed to analyze rare but significant events,
        such as economic crashes. Traditional financial models often assume that market fluctuations
        follow a normal pattern, which underestimates the likelihood of extreme downturns. EVT, on the
        other hand, focuses specifically on extreme events, making it a more effective tool for assessing
        financial risk. This research will begin by applying EVT to financial data from Detroit, a city that
        declared bankruptcy in 2013 after years of economic decline, substantially correlated with the
        automotive industry. By analyzing financial trends from Detroit’s major auto companies
        alongside municipal economic indicators, I aim to identify patterns that signal financial distress
        that the city level. Building on this case study, I will then develop a more general EVT-based
        model, or highly complex formula in more simple terms, that can be applied to other cities with
        similar economic structures. The ultimate goal of this project is to provide a framework for
        predicting municipal financial instability based on corporate sector trends, and with even more
        in-depth research beyond the undergraduate level, potentially help policymakers and economists
        better anticipate and mitigate economic downturns before they reach a crisis point.</p>

        <br /> Check out more of the modeling and data here (the POT files are not the correct ones at the moment, TODO: ADD THE POT FILES)
<a href="https://github.com/Megan-Coyne/ExtremeValueTheoryThesis_Data-Modeling" target="_blank">https://github.com/Megan-Coyne/ExtremeValueTheoryThesis_Data-Modeling</a> <br><br>

        <h2>TODO:</h2>
        <p>- </p>Add the additional Detroit data that is a part of the ECI (unemployment, house prices, gdp, cpi) to the EDA, model it too <br>
        - Debt and asset turnover ratio datasets need to be added to the EDA and need to be modeled as well <br> 
        - Either need to add supplier data or do a covariance analysis to address confounding variables like the interest rates and recession <br>
        - when those are done, can squash data and models together to start fitting the final model
</div>