<header>
  <nav class="navbar">
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/eda">EDA</a></li>
      <li><a routerLink="/research">Research</a></li>
      <li><a routerLink="/findings">Findings</a></li>
      <li><a routerLink="/graphs">Graphs</a></li>
      <li><a routerLink="/discussion">Discussion</a></li>
      <li><a routerLink="/references">References</a></li>
      <li><a routerLink="/data">Data Used</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
